@charset "utf-8";

* {
  box-sizing: border-box;
}

body {
  background: #4f787b;
  margin: 0;
}

#wrapper {
  width: 1000px;
  margin: 0 auto;
  background: #fff;
}

/* ヘッダー（サイドバー） */
header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  background: #3c949c;
  color: #abdbeb;
}

header h1 {
  padding: 70px 20px 30px;
  font-size: 2em;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 20px;
  font-size: 1.2em;
  color: #fff;
}

nav a:hover {
  color: #f5193c;
}

/* メイン */
main {
  padding: 70px 45px 0 300px;
}

section {
  padding-bottom: 70px;
}

section h2 {
  color: #a3a53a;
  font-size: 2em;
  margin-bottom: 30px;
}

section p {
  color: #545433;
  margin-bottom: 30px;
  line-height: 2em;
}